// HonokaMiku VersionInfo Resource file

#define _DEPSTR1(x) #x
#define _STR2(x) _DEPSTR1(x)

#define HONOKAMIKU_VERSION_MAJOR 4
#define HONOKAMIKU_VERSION_MINOR 0
#define HONOKAMIKU_VERSION_PATCH 0
#define HONOKAMIKU_VERSION_STRING "" _STR2(HONOKAMIKU_VERSION_MAJOR) "." _STR2(HONOKAMIKU_VERSION_MINOR) "." _STR2(HONOKAMIKU_VERSION_PATCH) ""
#define HONOKAMIKU_VERSION_STRING_RC "4.0.0.0"
#define HONOKAMIKU_VERSION ((HONOKAMIKU_VERSION_MAJOR*10000)+(HONOKAMIKU_VERSION_MINOR*100)+(HONOKAMIKU_VERSION_PATCH))

#ifdef RC_INVOKED

1 VERSIONINFO
FILEVERSION		HONOKAMIKU_VERSION_MAJOR,HONOKAMIKU_VERSION_MINOR,HONOKAMIKU_VERSION_PATCH,0
PRODUCTVERSION	HONOKAMIKU_VERSION_MAJOR,HONOKAMIKU_VERSION_MINOR,HONOKAMIKU_VERSION_PATCH,0
FILEFLAGSMASK 0x17L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "00000000"
		BEGIN
			VALUE "CompanyName", "Dark Energy Processor Corporation"
			VALUE "FileDescription", "Universal LL!SIF game files decrypter"
			VALUE "FileVersion", HONOKAMIKU_VERSION_STRING_RC
			VALUE "InternalName", "HonokaMiku"
			VALUE "LegalCopyright", "Copyright © 2037 Dark Energy Processor Corporation"
			VALUE "OriginalFilename", "HonokaMiku.exe"
			VALUE "ProductName", "HonokaMiku"
			VALUE "ProductVersion", HONOKAMIKU_VERSION_STRING_RC
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 0
	END
END

#endif
